*{
    padding: 0;
    margin: 0;
    font-family: arial;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5), (rgba(0,0,0,0.5)), url(download.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.8s ease;
}
ul li a:hover{
    color: #000;
    background-color: #fff;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: chocolate;
    font-size: 70px;
}

